.divmain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.divmain input {
    margin-top: 45px;
}

.divmain img {
    max-height: 500px;
    object-fit: contain;
}